<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>majaAI</string>
	<key>CFBundleIdentifier</key>
	<string>com.biexcellence.MajaMobile</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>de_DE</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>de</string>
		<string>en</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Wir benötigen das Mikrofon, damit du mit Maja sprechen kannst.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Wir benötigen die Spracherkennung, damit du mit Maja sprechen kannst.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Wir müssen auf deine Fotos zugreifen, damit du dein Profilbild auswählen kannst.</string>
	<key>UIAppFonts</key>
	<array>
		<string>segoeui.ttf</string>
		<string>seguisbi.ttf</string>
		<string>segoeuiz.ttf</string>
		<string>seguisli.ttf</string>
		<string>segoeuib.ttf</string>
		<string>segoeuisl.ttf</string>
		<string>seguisb.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>MajaMobile</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleVersion</key>
	<string>4</string>
</dict>
</plist>
